.header{
  height: 150px;
  background-image: url("faded-red-cement-wall_4460x4460.jpg");
  background-position: center;
  background-size:cover;
}

.div_left{
  width: 50%;
  height: 50%;
  float: left;
}

.div_right{
  width: 50%;
  height: 50%;
  float: right;
}

.echo-wrapper, .session2_wrapper{
  margin-top: 25px;
  margin-left: 25px;
  padding-bottom: 20px;
}

form{display: block;}
form label{display: table-cell; padding-bottom: 0px; padding-top: 5px}
form input{padding: 0 20px;}
form input[type="date"]{padding: 0 35px;}

fieldset{
 border: 1px solid black;
 margin-top: 25px;
 margin-left: 25px;
 padding-bottom: 20px;
}

.bottom{
  margin-left: 25px;
  margin-top: 25px;
}

h1, h2 {
  margin:0;
  font-weight: lighter;
  text-shadow: 2px 2px 8px gray;
  font-family: 'Oranienbaum', serif;
}

h1{
  margin-top: 0;
  font-size: 43px;
  color: #25383C;
}

h2{
  margin-bottom: 0;
  font-size: 25px;
  color: darkred;
}

h3{
  font-size: 20px;
  margin: 0;
  color: black;
}

.menu{
  float: left;
  width: 14%;
  height: calc(100vh - 300px);
  border-right: 1px inset lightgray;
}

a{
  font-weight: bold;
  color: #413839;
  text-decoration: none;
  font-size: 16px;
}

a:link {
  font-weight: bold;
  color: #660000;
  text-decoration: none;
  font-size: 16px;
}

a:visited {
  font-weight: lighter;
  color: #935A4C;
  text-decoration: underline;
  font-size: 10px;
}

a:hover {
 text-decoration:none;
 font-weight:bolder;
 font-size: 20px;
}

a:active{
  color: white;;

}

.content{
  height: calc(100vh - 300px);;
  width: 83%;
  overflow-y:auto;
  padding-left: 50px;
}

.footer{
  background-color : #EFEEEC;
  height: 150px;
  text-align:center;
}

p{
  padding: 23px;
  color: #404040;
}

.footer p {
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
}

.Form-wrapper{
  border: 1px solid black;
  width:fit-content;
  padding: 15px;
}

.menu-spacing{
  padding-left: 15px;
}

table {
  border: 1px solid black;
}

table th{
  border: 1px solid black;
}

table td{
  border: 1px solid black;
}

.table-wrapper{
  margin-top: 100px;
}
